<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organize Tasks and Stay on Track!</title>
</head>
<body>
    <h1>Organize Tasks and Stay on Track!</h1>
    <p><strong>Go-getter:</strong> a person who is highly motivated, ambitious, and proactive in pursuing their goals and objectives</p>
    <p>With our website, you can list all your tasks for the day, week, or month and keep track of them. Once completed, make sure to check them off!</p>
    <p>Our website has different categories you can separate your tasks into, including:</p>
    <ul>
        <li>School</li>
        <li>Work</li>
        <li>Health</li>
        <li>Clubs</li>
        <li>Sports</li>
        <li>Extracurriculars</li>
        <li>Career</li>
    </ul>
    <p>Benefits of being productive:</p>
    <ul>
        <li>Achievement of goals</li>
        <li>Time management</li>
        <li>Increased efficiency</li>
        <li>Improved quality</li>
        <li>Personal growth</li>
        <li>Reduced stress</li>
        <li>Work-life balance</li>
    </ul>
    <p>Make your TO-DO list!</p>
    <p>Resources:</p>
    <ul>
        <li><a href="https://www.verywellmind.com/how-to-be-more-productive-6499714">Visit Verywell Mind</a></li>
        <li><a href="https://hbr.org/2022/01/why-we-continue-to-rely-on-and-love-to-do-lists">Visit Harvard Business Review</a></li>
        <li><a href="https://www.notion.so/blog/to-dos">Visit Notion</a></li>
        <li><a href="https://www.theguardian.com/lifeandstyle/2017/may/10/the-psychology-of-the-to-do-list-why-your-brain-loves-ordered-tasks">Visit The Guardian</a></li>
    </ul>
</body>
</html>
